<!DOCTYPE html>
<html>
	<head>
		<title>Acatism</title>
		<link rel="shortcut icon" href="title.png" />
		<link rel="stylesheet" type="text/css" href="static.css">
	<body>
		<div id="content">
			<script> document.getElementById("content").style.height=screen.height+"px";</script>
			<header>
				<img class="pozaDreaptaSus" src="studenti.png">
				<img  class="pozaDreaptaSus" src="colt.png">
			</header>
			<div id="bara">	
				<div id="username">
				<img class="line" src="line.png" style="margin-right: 11%;" id="linie">
					<label class="user"><b>Profilul meu</b></label>
					<img src="profile.png" id="profile">
				</div>
				<img class="line" src="line.png">
			</div>
			<div id="cadru">		
				<nav id="meniu">
					<ul id="butoanee">
						<li id="profesori"class="butoane">Lista profesori</li>
						<li id="teme" class="butoane">Lista teme</li>
						<li id="proiect" class="butoane">Proiectul meu</li>
						<li id="profil" class="butoane">Profilul meu</li>
					</ul>
					<img src="colt.png" style="width: 100%;">
				</nav>
				<article id="continut">
					<!-- AICI DIV-UL CENTRAL-->
				</article>
				<div id="subSlideMeniu"></div> 
				<div id="slideMeniu">
					<div class="divMeniu">
					<a class="slideButton"><b>Editare cont</b></a>
					</div>
					<div class="divMeniu">
					<a class="slideButton"><b>Delogare</b></a>
					</div>
				</div>
			</div>
		</div>
			<script type="text/javascript" src="jquery.js"></script>
			<script type="text/javascript" src="static.js"></script>
	</body>
</html>