#continut
{
	
}

.cereri
{
	//position: absolute;
	width: 70%;
	min-height: 10%;
	margin-top: 0.5%;
	border-radius: 3px;
	padding: 1%;

background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(46,121,242,1) 8%, rgba(32,124,202,1) 93%, rgba(125,185,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(8%,rgba(46,121,242,1)), color-stop(93%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(46,121,242,1) 8%,rgba(32,124,202,1) 93%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(46,121,242,1) 8%,rgba(32,124,202,1) 93%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(46,121,242,1) 8%,rgba(32,124,202,1) 93%,rgba(125,185,232,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(46,121,242,1) 8%,rgba(32,124,202,1) 93%,rgba(125,185,232,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.studenti
{
	//color: rgb(167, 208, 245);
	color:white;
}

.raspuns
{
	float:right;
	border: 1px solid white;
	color: white;
	background-color: rgb(98,156,236);
	padding: 1px 6px;
}

.raspuns1
{
	float:right;
	border: 1px solid white;
	color: white;
	background-color: rgb(98,156,236);
	padding: 1px 6px;
}

.popup
{
	width: 72%;
	min-height: 40%;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	background-color: rgb(167,208,245);
	color: rgb(13,81,119);
	display: block;
} 
.inPopup
{
	width: 82%;
	padding: 1%;
	display: inline-block;
}

.box
{
	border: 1px solid white;
	border-radius: 3px;
	width:30%;
	margin-top: 1%;
	display: inline-block;
}

.box2
{
	border-radius: 3px;
	width: 15%;
	margin-top: 1%;
	height: 50%;
	display: inline-block;
	vertical-align: top;
	margin-left: -4%;
}

.imag
{
	width: 25px;
	height: 20px;
	margin-top: -1%;
}

.data
{
	float: left;
	margin-top: -2%;
}

.final
{
	margin-left: 15%;
	margin-top: 20%;
	border: 1px solid white;
	color: white;
	background-color: rgb(98,156,236);
	width: 80%;
	height: 25px;
}