#tableList{
	border-collapse: collapse;
	width: 100.2%
}
#tableList h4{
	margin: 0px;
	padding: 0px;
}

#tableList ul{
	margin:10px 0 10px 40px;
	padding:0px;
}

#tableList th{
	background:#7CB8E2 /*url('../images/header_bkg.png')*/ repeat-x scroll center left;
	color:#fff;
	padding:7px 15px; 
	text-align:left;
}

#tableList td { 
	background:#C7DDEE none repeat-x scroll center left; 
	color:#000; 
	padding:7px 15px; 
}

td : hover{
	background-color: #fff;
}

#tableList tr.odd td { 
	background:#fff url('../images/row_bkg.png') repeat-x scroll center left;
	cursor:pointer; 
}

#tableList div.arrow {
	background:transparent url('../images/arrows.png') no-repeat scroll 0px -16px; 
	width:16px; 
	height:16px; 
	display:block;
}

#tableList div.up { 
	background-position:0px 0px;
}

#title{
	background:#7CB8E2 url('../images/header_bkg.png') repeat-x scroll center left;
	color:#fff;
	padding:7px 15px; 
	text-align:left;
	margin: 1rem 0 1rem 0 ;
}