#tableList{
	border-collapse: collapse;
	width: 100.2%
}
#tableList h4{
	margin: 0px;
	padding: 0px;
}

#tableList ul{
	margin:10px 0 10px 40px;
	padding:0px;
}

#tableList th{
	background:#7CB8E2 /*url('../images/header_bkg.png')*/ repeat-x scroll center left;
	color:#fff;
	padding:7px 15px; 
	text-align:left;
}

#tableList td { 
	background:#C7DDEE none repeat-x scroll center left; 
	color:#000; 
	padding:7px 15px; 
}

td : hover{
	background-color: #fff;
}

#tableList tr.odd td { 
	background:#fff url('../images/row_bkg.png') repeat-x scroll center left;
	cursor:pointer; 
}

#tableList div.arrow {
	background:transparent url('../images/arrows.png') no-repeat scroll 0px -16px; 
	width:16px; 
	height:16px; 
	display:block;
}

#tableList div.up { 
	background-position:0px 0px;
}

#title{
	background:#7CB8E2 url('../images/header_bkg.png') repeat-x scroll center left;
	color:#fff;
	padding:7px 15px; 
	text-align:left;
	margin: 1rem 0 1rem 0 ;
}

#container {
	margin-top: 2%;
	background-color: white;
	outline: medium none;
	padding: 8px;
	width: 77%;
	border-radius: 2px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 2px solid rgb(40,142,233);
	margin-bottom: 1rem;
}

#container ul {
	width: 300px;
	margin: 0px;
	padding-left: 0px;
}

#container ul , #container li {
	list-style: none;
	margin: 1px;
	padding: 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

input#search {
	width: 66%;
	height: 2rem;
	display: inline-block;
	font-size: 1.2rem;
}

label#labelSearch {
	display: inline-block;
	text-align: left;
	width: 33%; 
	color: orange;
	font-weight: bold;
	color: rgb(13,82,119);
	//font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	//font-size: 1rem;
}