
.summaryTitle{
    font-weight: bold;
    padding-left: 1rem;
    color: rgb(13,82,119);
}

#projectInfo {    
    border-radius: 1rem;
    border-style: solid;
    border-width: .1rem;
    margin-bottom: 1rem; 
    background-color: rgb(153,212,233);
    border-color: white;
}

.todoList
{
    font-size: 1rem;
    color: rgb(13,82,119);
}

.description{
    font-size: 1rem;
    color: rgb(13,82,119);
}

#milestones {
    border-radius: 1rem;
    border-style: solid;
    border-width: .1rem;
    margin-bottom: 1rem; 
    background-color: rgb(153,212,233);
     border-color: white;
}

#feedbackProf {    
    border-radius: 1rem;
    border-style: solid;
    border-width: .1rem;
    margin-bottom: 1rem; 
    background-color: rgb(40,142,223);
     border-color: white;
}

.message {    
    /*padding-left: 2rem*/
     color: rgb(153,212,233);
}

#recentActivity {
    border-radius: 1rem;
    border-style: solid;
    border-width: .1rem;
    margin-bottom: 1rem; 
    background-color: rgb(40,142,223);
     border-color: white;
}

.activities {   
    font-size: 1rem;
    color: rgb(153,212,233);
} 


h3
{
    color: rgb(13,82,119);
    //border-bottom: 1px solid rgb(13,82,119);
}

h4
{
    //border-bottom: 1px dashed rgb(13,82,119);
}

.linie
{
    margin-left: 3%;
    width: 95%;
    height: 7px;
}