body, h1, ol,
{
	margin: 0px;
	background-color: rgb(192,192,192);
}

#content
{
	width: 100%;
	min-height: 100%;
}

#cadru
{
	width: 100%;
	height: 100%;
	background-color: rgb(240,240,240);
	//background-image: url('../images/textura.jpg');
}

header
{
	width: 100%;
	height: 30%;
	//background-color: rgb(13,82,119);
	background-image: url('../images/new.png');
}

#bara
{
	width: 100%;
	height: 5.5%;
	background-color: rgb(40, 142, 233);
	-webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.82);
-moz-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.82);
box-shadow:0px 3px 4px 0px rgba(50, 50, 50, 0.82);


/*background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 17%, #207cca 88%, #7db9e8 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(17%,#2989d8), color-stop(88%,#207cca), color-stop(100%,#7db9e8)); 
background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 17%,#207cca 88%,#7db9e8 100%); 
background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 17%,#207cca 88%,#7db9e8 100%); 
background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 17%,#207cca 88%,#7db9e8 100%); 
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 17%,#207cca 88%,#7db9e8 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
*/
}

#continut{
	float: right;
	width: 82%;
	min-height: 100%;
}

#username
{
	float:right;
	width: 17%;
	height: 100%;
}

.line
{
	height:100%;
	float:right;
}
#linie
{
	height:100%;
	float:right;
}

.user
{
	color: rgb(153, 217, 234);
	margin-left: 20%;
	font-family: serif;
	font-size: 17px;
}

#meniu
{
	width: 15%;
	float: left;
	clear: both;
	background-color: rgb(13, 82, 119);
	height: 100%;
}

#butoanee
{
	//background-color: rgb(167, 208, 245);

}

.butoane
{
	list-style: none;
	color: white;
	//color: rgb(13,82,119);
	background-color: rgb(40, 142, 233);
	font-size: 17px;
	//font-weight:bold;
	margin-left: -25%;
	margin-bottom: 10%;
	padding: 5%;
	width: 102%;
	padding-left: 25%;
	border-top-right-radius: 2px;
}
#profile
{
	width: 10%;
	margin-top: 3%;
	margin-left: 3px;

}
#subSlideMeniu
{
	background-color: rgb(167, 208, 245);
	width: 17%;
	height: 10%;
	margin-top: 1%;
	z-index: 0;
	position: absolute;
	right: 1%;
}

#slideMeniu
{
	background-color: rgb(40, 142, 233);
	width: 15%;
	height: 12%;
	z-index: 1;
	float: right;
	margin-top: 0px;
	position: absolute;
	right: 2.5%;
}

.slideButton
{
	position: absolute;
	color: white;
	width: 70%;
	padding-left: 30%;
	margin-top: 4%;
}

.divMeniu:hover
{
	background-color: rgb(13,82,119);
}

.divMeniu
{
	width: 100%;
	height: 50%;
	border-top: 1px solid rgb(132,190,242);
	//border-bottom: 1px solid rgb(132,190,242);
}

.pozaDreaptaSus
{
	height: 100%;
	float: right;

}

.smallColt1
{
	margin-left: -16px;
	margin-top: 6%;
	position: absolute;
}
.smallColt2
{
	margin-left: -16px;
	margin-top: 11.9%;
	position: absolute;
}
.smallColt3
{
	margin-left: -16px;
	margin-top: 17.8%;
	position: absolute;
}

.smallColt4
{
	margin-left: -3%;
	margin-top: 3.9%;
	position: absolute;
}
.smallColt5
{
	margin-left: -3%;
	margin-top: 7.75%;
	position: absolute;
}
.smallColt6
{
	margin-left: -3%;
	margin-top: 11.6%;
	position: absolute;
}
.smallColt7
{
	margin-left: -3%;
	margin-top: 15.4%;
	position: absolute;
}
.smallColt8
{
	margin-left: -3%;
	margin-top: 19.2%;
	position: absolute;
}
#stil
{
	width: 105.5%; 
	margin-top: -4px;	
}

a
{
	text-decoration: none;
}